.text-type {
  display: inline-block;
  white-space: pre-wrap;
  font-size: 4em;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
  color: var(--color-accent);
}

.text-type__cursor--hidden {
  display: none;
}

.hero-title.text-type {
  display: block;         
  line-height: 1.7;         
  margin-top: 15vh;          
  font-size: clamp(2rem, 10vw, 4em);         
}

/* Only for the typed button */
.cta-typed.text-type {
  display: block;         
  line-height: 1;
  font-size: 1.1rem;    
  margin-top: 0.125rem;   
}